{% extends "tracker/base.html" %} {% block body %}

<div class="card m-2 bg-secondary" style="">
  <div class="card-body">
    <h3 class="card-title text-capitalize">{{ article.title }}</h3>
  <div id="ketoneChart" style=""></div>
<div id="hghChart" style=""></div>
<div id="macroChart" style=""></div>
    <img  class="card-img-top"  src="{{article.image.url}}" alt="">

    <p class="card-text">{{article.text7}}</p>

  </div>
</div>
<div class="row">
{% for p in Products %}
<div class="card m-2" style="width: 18rem;">
  <div class="card-body">
      <img  class="card-img-top"  src="{{p.image.url}}" alt="">
    <h5 class="card-title">{{ p.name }}</h5>
    

    <p class="card-text">{{p.discription| truncatewords:20}}</p>
    <a class="btn btn-primary" href="{{p.link}}">Amazon ${{p.price}}</a>
  </div>
</div>
{% endfor %}
</div>

{% endblock %}